body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "width" 100;
    padding: 0;
    margin: 0;
}


#wrapper {
    margin-top: 20px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


header h1 {
    font-family: "Roboto", sans-serif;
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
}


header img {
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
}


nav {
    margin-top: 50px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
    padding-bottom: 12px;
    border-bottom: 2px solid black;

}


.menu1 {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
}

.menu1 a {
    display: block;
}


.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    color: grey;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

.logo {
    text-align: left;
}

.logo img {
    width: 110px;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #0077ff;
}

.menuI {
    text-align: right;
}

.menuI_active {
    text-align: right;
}

section {
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.7;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: darkgray;
}

.books {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    gap: 15px;
}


.books img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
}


.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.story-left {
    grid-column: 1/7;
}

.story-left img {
    grid-column: 1/7;
}

.story-right {
    grid-column: 7/13;
}

.story-right p {
    text-align: left;
}

.story-right h2 {
    text-align: left;
    font-size: 2em;
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.im2 {
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3 {
    grid-column: 7/13;
    grid-row: 1/6;
}

.im4 {
    grid-column: 1/4;
    grid-row: 3/6;
}

.im5 {
    grid-column: 4/7;
    grid-row: 3/6;
}

.im6 {
    grid-column: 1/7;
    grid-row: 6/9;
}

.im7 {
    grid-column: 7/10;
    grid-row: 6/7;
}

.im8 {
    grid-column: 10/13;
    grid-row: 6/7;
}

.im9 {
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10 {
    grid-column: 10/13;
    grid-row: 7/9;
}

.im11 {
    grid-column: 1/7;
    grid-row: 9/13;
}

.im12 {
    grid-column: 7/13;
    grid-row: 9/13;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}



.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgb(20,40,240,0.75);
    padding: 4px;
    border-radius: 5px;
    color: white;
    transition: opacity 0.3s ease;
    padding: 6px 10px;
}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure img {
    transition: all 0.3s ease;
}

.books figure:hover img {
    transform: scale(1.03);
    opacity: 0.5;
    filter: blur(2px);
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center    
}


.social {
    align-items: center;
    text-align: right;
    justify-content: right;
}

.social .fa {
    text-decoration: none;
    padding: 2px;
    font-size: 2em;
    color: gray;
}

.fa:hover {
    color: lightgray;
}

.story-page .books figure:hover img,
.story-page .books figure:hover .hover-text {
    transform: none;
    opacity: 1;
    filter: none;
    cursor: auto;
}

.story-page .hover-text {
    display: none !important;
}

.credit {
    padding: 2px;
    margin: auto;
}




@media (max-width: 780px)
    {

    button {
        border-width: 0px;
        background-color: transparent;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 4em;
        color: gray;
        cursor: pointer;
        transition: color 0.2s;
    }


    .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu-deployed {
        display: flex !important;
        ;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        padding-top: 50px;
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
        color: grey;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: none;
        color: grey;
        background-color: transparent;
    }


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 4px solid black;
        background: #000;
        color: white;
        position: relative;
        z-index: 1001;
    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .books {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-left,
    .story-right {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
    }

    .story-right {
        margin-top: 20px;
        text-align: left;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }



}